<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">

	<bean id="adminConsoleDS"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/adminConsoleDS" />
	</bean>

	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="adminConsoleDS" />
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />

	<bean id="adminConsoleSF"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="adminConsoleDS" />
		<property name="mappingResources">
			<list>
				<value>com/kesdip/business/domain/admin/AccessControl.hbm.xml</value>
				<value>com/kesdip/business/domain/admin/AccessRight.hbm.xml</value>
				<value>com/kesdip/business/domain/admin/Content.hbm.xml</value>
				<value>com/kesdip/business/domain/admin/Customer.hbm.xml</value>
				<value>com/kesdip/business/domain/admin/Deployment.hbm.xml</value>
				<value>com/kesdip/business/domain/admin/Installation.hbm.xml</value>
				<value>com/kesdip/business/domain/admin/User.hbm.xml</value>
				<value>com/kesdip/business/domain/admin/Action.hbm.xml</value>
				<value>com/kesdip/business/domain/admin/Parameter.hbm.xml</value>
				<value>com/kesdip/business/domain/admin/StatusEntry.hbm.xml</value>
				<value>com/kesdip/business/domain/admin/Site.hbm.xml</value>
				<value>com/kesdip/business/domain/admin/InstallationGroup.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.DerbyDialect
				hibernate.show_sql=false 
				hibernate.hbm2ddl.auto=none
			</value>
		</property>
	</bean>
	
	<bean
		id="hibernateTemplate"
		class="org.springframework.orm.hibernate3.HibernateTemplate">
		<constructor-arg>
			<ref bean="adminConsoleSF" />
		</constructor-arg>
	</bean>
	
</beans>
